<!-- Footer -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-column">
                <h3>Naše stranice</h3>
                <ul class="footer-links">
                    <li><a href="/svekategorije">Sve kategorije</a></li>
                    <li><a href="/">Početna</a></li>
                    <li><a href="/kontakt">Kontakt</a></li>
                    <li><a href="/kontakt">Servisi</a></li>                 
                </ul>
            </div>

            <div class="footer-column">
                <h3>Proizvodi</h3>
                <ul class="footer-links">
                    <li><a href="/svekategorije/bijelatehnika">Bijela tehnika</a></li>
                    <li><a href="/svekategorije/tviaudio">Televizori i audio</a></li>
                    <li><a href="/svekategorije/sporetikaminipeci">Šporeti, kamini i peći</a></li>
                    <li><a href="/svekategorije/malikucniaparati">Mali kućni aparati</a></li>
                    <li><a href="/svekategorije/grijanjeihladjenje">Grijanje i hlađenje</a></li>
                </ul>
            </div>
            
            <div class="footer-column">
                <h3>Kontaktirajte nas</h3>
                <div class="footer-contact">
                    <div class="contact-item">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Ulica Dr. Nika Miljanića 6, Nikšić 81400</span>
                    </div>
                    <div class="contact-item">
                        <i class="fas fa-phone-alt"></i>
                        <span>+382 69 206 050</span>
                    </div>
                    <div class="contact-item">
                        <i class="fas fa-envelope"></i>
                        <span>mazor@t-com.me</span>
                    </div>
                    <div class="contact-item">
                        <i class="fas fa-clock"></i>
                        <span>Pon - Sub: 9:00 - 20:00<br></span>
                    </div>
                </div>
                
                <div class="footer-social">
                    <a href="mazor@t-com.me" class="social-icon">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <a href="https://www.instagram.com/mazor_niksic/" class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="tel:+38269206050" class="social-icon">
                        <i class="fas fa-phone"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="footer-bottom">
            <a href="https://www.instagram.com/webkutak/" style="text-decoration: none; color:#999"><p>© 2025 WebKutak</p></a>
        </div>
    </div>
</footer>

<!-- Footer za mobilne uređaje -->
<div class="mobile-footer">
    <div class="mobile-social">
        <a href="mazor@t-com.me" class="social-icon">
            <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.instagram.com/mazor_niksic/" class="social-icon">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="tel:+38269206050" class="social-icon">
            <i class="fas fa-phone"></i>
        </a>
    </div>
    <a href="https://www.instagram.com/webkutak/" style="text-decoration: none; color:#999">
    <div class="mobile-copyright">
        © 2025 WebKutak
    </div></a>
</div>
